{% extends 'WAD2/base.html' %}

{% block body_block %}
    <div class="container mt-5">
        <h1>Available Internships</h1>
        <div class="row"> {% for vacancy in vacancies %}
                <div class="col-md-4 mb-4"> <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{vacancy.title}}</h5>
                            <p><strong>{{ vacancy.location }}</strong></p>
                            <p>{{vacancy.description|truncatechars:100}}</p>
                            <a href="{% url 'forum:vacancy' vacancy.slug %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No internships found</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}