{% extends 'WAD2/base.html' %}
{% block body_block %}
<div class="container mt-5">
    <h1>Job: {{vacancy.title}}</h1>
    <h4>At <a href="{% url 'forum:show_company' vacancy.company.slug %}">
        {{ vacancy.company.name }}</a></h4>
    <hr>
    <p><strong>Location:</strong> {{ vacancy.location }}</p>
<p><strong>Deadline:</strong> {{ vacancy.deadline|default:"Not specified" }}</p>
<p><strong>Industry:</strong> {{ vacancy.industry|default:"Not specified" }}</p>
<p><strong>Salary:</strong> {{ vacancy.salary|default:"Not specified" }}</p>
<p><strong>Description:</strong> {{ vacancy.description }}</p>
{% if vacancy.url %}
    <a href="{{ vacancy.url }}" class="btn btn-success" target="_blank">Apply Now</a>
{% endif %}
    <p>{{ vacancy.description }}</p>
    <a href="#" class="btn btn-success">Apply for a Job</a>


    {# should be the location bu google API said no (goota find another way or pay lol)#}
    <script>
    function initMap() {
        var addressElement = document.getElementById('job-address');
        var address = addressElement.innerHTML;
        var geocoder = new google.maps.Geocoder();
        var mapContainer = document.getElementById('map');
        var map = new google.maps.Map(mapContainer, {zoom:14});
        
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location);
                new google.maps.Marker({ 
                    map: map, 
                    position: results[0].geometry.location 
                });
            } else {
                console.log('Geocode was not successful: ' + status);
            }
        });
    }
    </script>   
</div>
{% endblock %}