{% extends 'WAD2/base.html' %}

{% block body_block %}
<div class="container mt-5">
    <h1>Available Jobs</h1>
    {% if vacancies %}
        <ul>
            {% for vacancy in vacancies %}
                <li>
                    <strong><a href="{% url 'forum:vacancy' vacancy.slug %}">{{ vacancy.title }}</a></strong><br />
                    At: {{ vacancy.company.name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no jobs present.</p>
    {% endif %}
</div>
{% endblock %}